:root{
    --bg-button: #EEE;
    --border-button: solid 1px rgb(69, 69, 69); 
}

.button{
    font-size: 1.8em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
}
.button:hover{
    background-color: #CCC;
}
.button:active{
    background-color: #AAA;
}
button.double{
   grid-column: span 2;
}
button.triple{
    grid-column: span 3;
}
button.operation{
    background-color: #FA8321;
    color: #444;
}
button.operation:active{
    background-color: #FA8321cc;
}
button.operation:hover{
    background-color: #FA8321aa;
}
