@charset "UTF-8";
@font-face{
  src: url(fonts/RobotoMono-Thin.ttf);
}

*{
  font-family: 'RobotoMono-Thin', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  color: #eee;
  background-image: linear-gradient(to right, #EEE, #000);
  display: flex;
  height: 98.5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}